@import "./globalCssVariables.scss";
#feedback-box {
  min-height: 0;
  height: 100%;
  width: 50%;
  background-color: $yellow-background-color;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 1.5%;
  margin: 3%;
  border-radius: $big-border-radius;
}

#feedback-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

input {
  border: 0;
  border-radius: 5px;
  width: fit-content;
  padding: 2%;
  padding-inline: 3%;
  margin: 1.5%;
  font-family: $general-font;
}

#input-text {
  width: 100%;
  height: 20vh;
  border-radius: 5px;
}
